 HELP.md
 target/
 !.mvn/wrapper/maven-wrapper.jar
 !**/src/main/**/target/
 !**/src/test/**/target/

 ### STS ###
 .apt_generated
 .classpath
 .factorypath
 .project
 .settings
 .springBeans
 .sts4-cache

 ### IntelliJ IDEA ###
 .idea
 *.iws
 *.iml
 *.ipr

 ### NetBeans ###
 /nbproject/private/
 /nbbuild/
 /dist/
 /nbdist/
 /.nb-gradle/
 build/
 !**/src/main/**/build/
 !**/src/test/**/build/

 ### VS Code ###
 .vscode/

 ### Logs ###
 logs/
 *.log

 ### Local Configuration ###
 src/main/resources/application-local.properties
/src/.gitignore
/target/classes/com/parking/config/AlipayConfig.class
/target/classes/com/parking/service/payment/impl/AliPayServiceImpl.class
/target/classes/application.properties
/target/classes/application.yml
/target/classes/application-dev.properties
/target/classes/com/parking/model/param/common/BaseResponse.class
/target/classes/com/parking/exception/BusinessException.class
/target/classes/com/parking/model/param/user/request/CreateOrderRequest.class
/target/classes/com/parking/model/dto/owner/DailyStatisticsDTO.class
/target/classes/com/parking/util/tool/DateUtil.class
/target/classes/com/parking/model/param/common/DetailResponse.class
/target/classes/com/parking/model/entity/mybatis/Favorite.class
/target/classes/com/parking/mapper/mybatis/FavoriteMapper.class
/target/classes/com/parking/repository/mybatis/FavoriteRepository.class
/target/classes/com/parking/service/user/impl/FavoriteServiceImpl.class
/target/classes/com/parking/util/tool/FileUtil.class
/target/classes/com/parking/repository/mybatis/free/FreeParkingRepository.class
/target/classes/com/parking/exception/GlobalExceptionHandler.class
/target/classes/com/parking/util/tool/HttpClientUtil.class
/target/classes/com/parking/util/tool/ImageUtil.class
/target/classes/com/parking/util/tool/JsonUtil$1.class
/target/classes/com/parking/util/tool/JsonUtil$2.class
/target/classes/com/parking/util/tool/JsonUtil.class
/target/classes/com/parking/interceptor/JwtTokenInterceptor.class
/target/classes/com/parking/util/tool/JwtUtil.class
/target/classes/com/parking/service/upload/impl/LocalUploadServiceImpl.class
/target/classes/com/parking/util/tool/MoneyUtil.class
/target/classes/com/parking/config/MyBatisPlusConfig.class
/target/classes/com/parking/model/param/parking/request/NearbyParkingSpotRequest.class
/target/classes/com/parking/model/entity/mybatis/OccupiedSpot.class
/target/classes/com/parking/repository/mybatis/OccupiedSpotRepository.class
/target/classes/com/parking/model/param/common/OperationResponse.class
/target/classes/com/parking/model/entity/mybatis/Order.class
/target/classes/com/parking/model/dto/order/OrderDTO.class
/target/classes/com/parking/mapper/mybatis/OrderMapper.class
/target/classes/com/parking/repository/mybatis/OrderRepository.class
/target/classes/com/parking/service/OrderService.class
/target/classes/com/parking/event/OrderStatusChangeEvent.class
/target/classes/com/parking/enums/order/OrderStatusEnum.class
/target/classes/com/parking/service/upload/impl/OssUploadServiceImpl.class
/target/classes/com/parking/controller/owner/OwnerOrderController.class
/target/classes/com/parking/model/dto/owner/OwnerOrderListItemDTO$ParkingSpotInfo.class
/target/classes/com/parking/model/dto/owner/OwnerOrderListItemDTO$UserInfo.class
/target/classes/com/parking/model/dto/owner/OwnerOrderListItemDTO.class
/target/classes/com/parking/service/owner/OwnerOrderService.class
/target/classes/com/parking/service/owner/impl/OwnerOrderServiceImpl.class
/target/classes/com/parking/controller/owner/OwnerParkingController.class
/target/classes/com/parking/model/dto/owner/OwnerParkingListItemDTO$CurrentOrderInfo.class
/target/classes/com/parking/model/dto/owner/OwnerParkingListItemDTO$Statistics.class
/target/classes/com/parking/model/dto/owner/OwnerParkingListItemDTO$UserInfo.class
/target/classes/com/parking/model/dto/owner/OwnerParkingListItemDTO.class
/target/classes/com/parking/model/param/owner/request/OwnerParkingRequest.class
/target/classes/com/parking/service/owner/OwnerParkingService.class
/target/classes/com/parking/service/owner/impl/OwnerParkingServiceImpl.class
/target/classes/com/parking/model/param/common/PageResponse.class
/target/classes/com/parking/util/tool/PageUtil.class
/target/classes/com/parking/ParkingApplication.class
/target/classes/com/parking/handler/ParkingIntervalChecker$1.class
/target/classes/com/parking/handler/ParkingIntervalChecker.class
/target/classes/com/parking/mapper/mybatis/ParkingOccupiedMapper.class
/target/classes/com/parking/model/entity/mybatis/ParkingSpot.class
/target/classes/com/parking/model/dto/parking/ParkingSpotDetailDTO$IntervalDTO.class
/target/classes/com/parking/model/dto/parking/ParkingSpotDetailDTO$OwnerDTO.class
/target/classes/com/parking/model/dto/parking/ParkingSpotDTO.class
/target/classes/com/parking/mapper/mybatis/ParkingSpotMapper.class
/target/classes/com/parking/repository/mybatis/ParkingSpotRepository.class
/target/classes/com/parking/model/vo/parking/rule/ParkingSpotRuleVO$DateRangeVO.class
/target/classes/com/parking/model/vo/parking/rule/ParkingSpotRuleVO.class
/target/classes/com/parking/service/ParkSpotService.class
/target/classes/com/parking/constant/PayConstant$PayError.class
/target/classes/com/parking/constant/PayConstant$PayStatus.class
/target/classes/com/parking/constant/PayConstant$RefundStatus.class
/target/classes/com/parking/constant/PayConstant$TradeType.class
/target/classes/com/parking/constant/PayConstant.class
/target/classes/com/parking/controller/payment/PayController.class
/target/classes/com/parking/exception/PaymentException.class
/target/classes/com/parking/controller/payment/PayNotifyController.class
/target/classes/com/parking/event/PayNotifyEvent.class
/target/classes/com/parking/handler/PayNotifyHandler.class
/target/classes/com/parking/model/entity/mybatis/PayNotifyLog.class
/target/classes/com/parking/mapper/mybatis/PayNotifyLogMapper.class
/target/classes/com/parking/repository/mybatis/PayNotifyLogRepository.class
/target/classes/com/parking/handler/PayNotifyParser.class
/target/classes/com/parking/service/payment/PayService.class
/target/classes/com/parking/enums/PayTypeEnum.class
/target/classes/com/parking/util/RedisLockUtil.class
/target/classes/com/parking/config/RedissonConfig.class
/target/classes/com/parking/exception/ResourceNotFoundException.class
/target/classes/com/parking/enums/user/SourceFromEnum.class
/target/classes/com/parking/enums/parking/SpotModeEnum.class
/target/classes/com/parking/enums/parking/SpotStatusEnum.class
/target/classes/com/parking/config/SsoConfig.class
/target/classes/com/parking/util/SsoUtil.class
/target/classes/com/parking/util/TimeExpressionParser.class
/target/classes/com/parking/exception/UnauthorizedException.class
/target/classes/com/parking/model/param/owner/request/UpdateParkingRequest.class
/target/classes/com/parking/config/UploadConfig$CloudStorage.class
/target/classes/com/parking/config/UploadConfig.class
/target/classes/com/parking/controller/common/UploadController.class
/target/classes/com/parking/exception/UploadException.class
/target/classes/com/parking/service/upload/UploadService.class
/target/classes/com/parking/model/entity/mybatis/User.class
/target/classes/com/parking/controller/user/UserAuthController.class
/target/classes/com/parking/service/user/impl/UserAuthServiceImpl.class
/target/classes/com/parking/controller/user/UserFavoriteController.class
/target/classes/com/parking/mapper/mybatis/UserMapper.class
/target/classes/com/parking/controller/user/UserOrderController.class
/target/classes/com/parking/service/user/UserOrderService.class
/target/classes/com/parking/service/user/impl/UserOrderServiceImpl.class
/target/classes/com/parking/model/vo/UserOrderVo.class
/target/classes/com/parking/controller/user/UserParkingController.class
/target/classes/com/parking/service/user/impl/UserParkingServiceImpl.class
/target/classes/com/parking/repository/mybatis/UserRepository.class
/target/classes/com/parking/enums/user/UserRoleEnum.class
/target/classes/com/parking/enums/user/UserStatusEnum.class
/target/classes/db/migration/V1.1__test_data_init.sql
/target/classes/db/migration/V1__init_tables.sql
/target/classes/com/parking/util/tool/ValidateUtil.class
/target/classes/com/parking/config/WebMvcConfig.class
/target/classes/com/parking/config/WechatPayConfig.class
/target/classes/com/parking/service/payment/impl/WechatPayServiceImpl.class
/target/classes/com/parking/util/WechatPayUtil.class
/target/classes/com/parking/util/WechatUtil.class
/target/classes/com/parking/util/tool/AesUtil.class
/target/classes/com/parking/handler/PhoneTypeHandler.class
/target/classes/com/parking/config/RedisConfig.class
/target/classes/com/parking/config/SecurityConfig.class
/target/classes/com/parking/config/SmsClientConfig.class
/target/classes/com/parking/config/SmsConfig.class
/target/classes/com/parking/service/sms/SmsService.class
/target/classes/com/parking/service/sms/impl/SmsServiceImpl.class
/target/classes/db/V1.1__test_data_init.sql
/target/classes/db/V1__init_tables.sql
/target/classes/com/parking/util/WechatIdUtil.class
/target/classes/com/parking/service/BaseOrderService.class
/target/classes/com/parking/model/param/user/request/CancelOrderRequest.class
/target/classes/com/parking/repository/mybatis/free/FreeParkingRepository$1.class
/target/classes/com/parking/model/param/parking/request/ParkingSpotDetailRequest.class
/target/classes/com/parking/service/ParkSpotService$1.class
/target/classes/db/migration/V2_init_tables.sql
/target/classes/com/parking/model/param/payment/response/AliPayResponse.class
/target/classes/com/parking/model/param/common/ErrorResponse.class
/target/classes/com/parking/model/param/payment/request/AliPayRequest.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/com/parking/model/param/owner/response/EarningsStatisticsResponse.class
/target/classes/com/parking/model/param/user/request/FavoriteRequest.class
/target/classes/com/parking/service/user/FavoriteService.class
/target/classes/com/parking/repository/mybatis/free/FreeParkingRepository$1.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/.idea/modules.xml
/target/classes/com/parking/model/dto/parking/OccupiedSpotDTO.class
/target/classes/com/parking/model/dto/order/OrderDetailDTO.class
/target/classes/com/parking/model/dto/order/OrderListItemDTO$OwnerInfo.class
/target/classes/com/parking/model/dto/order/OrderListItemDTO$ParkingSpotInfo.class
/target/classes/com/parking/model/dto/order/OrderListItemDTO.class
/target/classes/com/parking/model/param/owner/response/OwnerParkingResponse.class
/parking.iml
/target/classes/com/parking/model/entity/mybatis/ParkingPeriod.class
/target/classes/com/parking/model/dto/parking/ParkingSpotDetailDTO.class
/target/classes/com/parking/service/ParkSpotService$1.class
/target/classes/com/parking/model/param/payment/request/PayRequest.class
/target/classes/com/parking/model/param/payment/response/PayResponse.class
/target/classes/com/parking/factory/PayServiceFactory.class
/target/classes/com/parking/model/param/upload/UploadResponse.class
/target/classes/com/parking/model/param/owner/response/UsageStatisticsResponse.class
/target/classes/com/parking/service/user/UserAuthService.class
/target/classes/com/parking/model/param/user/request/UserLoginRequest.class
/target/classes/com/parking/model/param/user/response/UserLoginResponse.class
/target/classes/com/parking/service/user/UserParkingService.class
/target/classes/com/parking/service/user/UserService.class
/target/classes/db/migration/V2_init_tables.sql
/target/classes/com/parking/model/param/payment/request/WechatPayRequest.class
/target/classes/com/parking/model/param/payment/response/WechatPayResponse.class
